# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
.env

# Docker
.dockerignore

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS Metadata
.DS_Store
Thumbs.db

# Project Specific
tests/.pytest_cache/
.coverage
htmlcov/
